<% title "About Us" %>

<div class="content">
  <div class="content-mid-split">
    <div class="content-header-container">
      <div class="content-header-left"></div>
      <div class="content-header-center">
        <div class="header-text">
          <a class="yellow-button" href="#" rel="nofollow">About Us</a>
        </div>
      </div>
      <div class="content-header-right"></div>
    </div>
  </div>
  <div class="content-main placeholder">
	<div class="regular-text" style="font-size:14px;line-height:150%;min-height:185px;height:auto important!;height:185px;">
	Listening to music is one of the easiest and cheapest ways to entertain ourselves.  Some of us are more curious than others and would like to know more about the music scene and what’s behind a song besides just the artist(s) and the song name. It is under this premise that MusiqueMaze.com was established in 2012.  Our goal is to offer everyone completely free interactive music trivia quizzes for entertainment, knowledge sharing, and friendly competition.  Our quizzes encompass all music genres from mostly the 1950’s through the 1990’s. These quizzes will definitely take you back to a different time and place. Extreme care has been exercised in order to provide users with the most accurate data to help sort out the complex music maze.  
	</div>
  </div>
</div>


