<% title "FAQ" %>

<div class="content">
  <div class="content-mid-split">
    <div class="content-header-container">
      <div class="content-header-left"></div>
      <div class="content-header-center">
        <div class="header-text">
          <a class="yellow-button" href="#" rel="nofollow">FAQ</a>
        </div>
      </div>
      <div class="content-header-right"></div>
    </div>
  </div>
  <div class="content-main placeholder">
	<div class="regular-text" style="font-size:14px;min-height:185px;height:auto important!;height:185px;">
	  <div style="font-weight:bold;padding:3px;">Can I contribute to MusiqueMaze.com?</div>
	  <div style="padding:3px;">
		Any constructive criticism or suggestions to make  our website more user-friendly is always welcome.  Please contact us at any time with your suggestions.
	  </div>

	  <div style="font-weight:bold;padding:3px;">Does it cost anything to play on MusiqueMaze.com?</div>
		<div style="padding:3px;">
		Not at all. Playing is absolutely free.
	  </div>

	  <div style="font-weight:bold;padding:3px;">Can anyone submit new quizzes for publication?</div>
	  <div style="padding:3px;">
	   Not at this time. It takes time to verify the validity of clues and answers and we just don’t have the resources to perform that task. 
   	  </div>
	  <div style="font-weight:bold;padding:3px;">There is an error in one of your questions/answers.</div>
	  <div style="padding:3px;">
	    Please let us know if you’ve spotted an error in one of our quizzes so we can correct it ASAP.  Simply send an email to editor@musiquemaze.com and we will double check the error. Please keep in mind that some of the answers are subjective in nature. 
	   </div>
	</div>
  </div>
</div>