<% title "Privacy & Policy" %>

<div class="content">
  <div class="content-mid-split">
    <div class="content-header-container">
      <div class="content-header-left"></div>
      <div class="content-header-center">
        <div class="header-text">
          <a class="yellow-button" href="#" rel="nofollow">Privacy &amp; Policy</a>
        </div>
      </div>
      <div class="content-header-right"></div>
    </div>
  </div>
  <div class="content-main placeholder">
  	<div class="regular-text" style="font-size:14px;line-height:150%;min-height:130px;height:130px;height:auto;">
      <p>
        MusiqueMaze.com does not collect or sell information from its visitors and will not deliberately do so.
      </p>
      <p>
We will only use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties. 
      </p>
  	</div>
  </div>
</div>
