<% title "Terms and Conditions" %>

<div class="content">
  <div class="content-mid-split">
    <div class="content-header-container">
      <div class="content-header-left"></div>
      <div class="content-header-center">
        <div class="header-text" style="padding-top:14px;font-size:14px;">
          <a class="yellow-button" href="#" rel="nofollow">Terms and Conditions</a>
        </div>
      </div>
      <div class="content-header-right"></div>
    </div>
  </div>
  <div class="content-main placeholder">
    <div class="regular-text" style="line-height: 1.5; font-size: 14px;">
      <p>
        Welcome to our website. If you continue to browse and use this website,  you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern MusiqueMaze.com's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
      </p>
      <p>
        The use of this website is subject to the following terms of use:
        <ol>
          <li>
            The content of the pages of this website is for your general information and use only. It is subject to change without notice.
          </li>
          <li> 
            We do not provide any guarantee as to the accuracy, timeliness, completeness, or suitability of the information and materials found or offered on this website for any particular purpose. Although we have taken extreme measures to ensure the reliability of the data provided by our website, users must be aware that such information and materials may contain inadvertent oversights or errors and we expressly exclude liability for any such inaccuracies. 
          </li>
          <li>
            Your use of any information or materials on this website is entirely at your own risk and MusiqueMaze.com will not be held responsible for any inaccuracies contained herein. It is your own responsibility to ensure that any products, services or information available through this website meet your specific requirements. 
          </li>
          <li>
            This website contains material which is owned by us. This material includes, but is not limited to, the design, layout, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. 
          </li>
          <li>
            Unauthorized use of this website could result in a claim for damages and/or be a criminal offense. 
            From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse those website(s). We have no responsibility for the content of those linked website(s). 
          </li>
        </ol>
      </p>
    </div>
  </div>
</div>