<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%=h @contact.name %></h1>
    <h2><%=h @contact.email %></h2>
    <p><%=h @contact.content -%></p>
  </body>
</html>
