<% title "Error 500" %>

<h2>500</h2>
<div>
  <h3>We're sorry</h3>
  <p>
    The content that you requested could not be found.
  </p>
  <p>
    You tried to access <b><%= @not_found_path -%></b>, which is not a valid page.
  </p>
  <p>
    Want to
    <%= link_to "Musiquemaze", root_path -%> go back to our home page
    and try again?
  </p>
</div>

