<div class="footer">
  <div class="foot-splitter"></div>
  <div class="footer-content placeholder">
    <%= render "layouts/footer_links" %>
    <%= render "layouts/testimonials" %>
    <div class="clear"></div>
  </div>
</div>
<%= render "layouts/footer_end" %>
