<div class="header">
  <div class="header-nav-strip">
    <%= render "layouts/header_menu" %>
  </div>
  <div class="header-content placeholder">
    <!-- place header content here -->
    <div class="">
      <div class="musique-maze-loggo"></div>
      <div class="loggo-text-container">
        <div class="loggo-text-top"></div>
        <div class="loggo-text-center">
          How much do you know about music? Test your popular music knowledge by playing our free interactive quizzes. The categories below contain plenty of quizzes to take you back to <blockquote>"All Those Years Ago."</blockquote>
        </div>
        <div class="loggo-text-bottom"></div>
      </div>
      <div class="musique-maze-instruments">
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
